<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <!-- COPYRIGHT -->
      <add key="A1" value="Mr COUPEZ Frédéric"/><add key="M1" value="coupez.frederic@gmail.com"/>
      <add key="A2" value="Mr MASSON Guillaume"/><add key="M2" value="g.masson02@gmail.com"/>
      <!-- GESTION DE LA CONNECTION A LA BDD -->
      <add key="DataSource" value="localhost"/>
      <add key="InitialCatalog" value="ServeurResto"/>
    </appSettings>
    <connectionStrings>      
      <add name="dbConn" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=ServeurResto;Integrated Security=True"/>
    </connectionStrings>
</configuration>
